/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.hidden {
	display: none;
}
body {
	width: 400px;
	height: 400px;
	display: flex;
	align-items: center;
}
.container {
	width: 100%;
	height: 100%;
	background-image: url('images/128 pic.png');
	background-size: cover;
	background-position: center;
}

form label {
	font-size: medium;
	color: #e8eb15;
	font-weight: bold;
}

.container header {
	font-size: larger;
	font-weight: 600;
	color: #e8eb15;
}
main h1 {
	color: #e8eb15;
}
form .input-field {
	position: relative;
	height: fit-content;
	width: 75%;
}
.checkbox {
	margin-left: 50px;
}
.input-field input {
	height: 100%;
	width: fit-content;
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 0 15px;
	border: 1px solid #d1d1d1;
}
.invalid input {
	border-color: #d93025;
}
.input-field .show-hide {
	position: absolute;
	right: 13px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	color: #919191;
	cursor: pointer;
	padding: 3px;
}
.field .error {
	display: flex;
	align-items: center;
	margin-top: 6px;
	color: #d93025;
	font-size: 13px;
	display: none;
}
.invalid .error {
	display: flex;
}
.error .error-icon {
	margin-right: 6px;
	font-size: 15px;
}
.create-password .error {
	align-items: flex-start;
}
.create-password .error-icon {
	margin-top: 4px;
}
.button {
	transition-duration: 0.4s;
}
.button {
	background-color: transparent;
	color: #e8eb15;
	border-color: #008cba;
	font-size: 25px;
	margin-top: 10px;
}

.button:hover {
	background-color: #008cba; /* Green */
	color: white;
}
.btn1 {
	position: absolute;
	top: 8px;
	right: 16px;
	font-size: 18px;
}

/* Notification styles */
.notification {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	z-index: 1000;
}
.notification.success {
	background-color: green;
}

.notification.error {
	background-color: red;
}


.hidden {
	display: none;
}

/* Backdrop styles */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: none;
}
